body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.Header, .Footer {
        display: flex;
        height: 80px;
        background-color: #1f2937;
        color: white;
}

.Section-one {
   display: flex;
   background-color: #131a24;
   height: 450px;
}

.Section-two {
    display: flex;
    height: 440px;
}

.Section-three {
    display: flex;
    height: 300px;
    background-color: #cbced4;
}

.Section-four {
    display: flex;
    height: 250px;
}

.Logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.Header-links {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Header-img {
    height: 50px;
    width: 60px;
    border-radius: 50%;
}

a.Links:link {
    text-decoration: none;
    color: white;
    padding: 15px;
}

a.Links:hover {
   text-decoration: underline;
   background-color: #131a24;
}